header{
    position: -webkit-sticky;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 110;
}

.main-header{
    width:100%;
    max-height: 160px;
	background: #53699b;
    border-bottom: 3px solid black;
}

.container
{
    height: 120px;
}
.flagR{
    margin-top: 45px;
}
.stemaR{
    position: absolute;
    top: 0px;
    left: 45%;
    width: 80px;
    height: 115px;
}
.login{
    padding: 0;
}

.form-control{
    padding: 0;
    margin-top: 1.3px;
    height: 25px;
}
.input-group{
    left: 100%;
    padding-top: 5px;
}
.navbar-expand-lg
{
        margin-left: auto;
    margin-right: auto;
}
.navbar-light .navbar-nav .nav-link
{
    color: black;
}
